include ./textUnit.pug
include ./includes/languages.pug

html
  include ./includes/head.pug
  body
    nav(class="nav")
      +languages("/faq", languages, selectedLanguage)
    h1
      +textUnit(translations.title, 'title')
    p
      +textUnit(translations.description, 'description')
    a(href="/") Home