html
  include ./includes/head.pug
  body
    include ./includes/nav.pug
    div
      h2 Create translation
      form(method="post", action="/save")
        select(name="page")
          option(id="home", value="home") Home
          option(id="faq", value="faq") faq
        input(type="text", name="label", placeholder="label")
        input(type="text", name="text", placeholder="text")
        select(name="language")
          option(id="sv") sv
          option(id="en") en
        input(type="submit", value="Save")
      h2(class="missing") Missing translations
      ul
        each translation in missingTranslations
          li(class="missing-li")
            span= `${translation.page} - `
            a(href=`/translate/label?page=${translation.page}&label=${translation.label}`)= translation.label