mixin translationList(page, translations)
  ul
    each translation in translations
      li
        a(href=`/translate/label?page=${page}&label=${translation.label}`)= translation.label
        each text in translation.translatedTexts
          span(class="lang-span")= text.language